{% extends 'base.html' %}

{% block head %}
    <title>Entered Words</title>
{% endblock %}

{% block body %}
<div class="form">
    <div class="title" style="text-align: center">Entered Words</div>
    <table>
        <tr>
            {% for word in words %}
                <td>{{ word }}</td>
            {% endfor %}
        </tr>
    </table>
    <div class="center">
        <span style="width: 100%; text-align: center; color: white;">You are good at words!</span>    
        <br>
        <a href="/" style="margin-top: 20px; width: 100%; text-align: center;">Return</a> 
    </div>
    
</div>    
{% endblock %}
